<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://twibbon.blob.core.windows.net/twibbon/2018/246/26466e7d-24ee-4a39-96c8-2546db4d7c8d.png">
    <title>{{title}}</title>
</head>
<body>
    <form action="/groups/izone" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="imgsrc">Image link:</label>
            <input type="text" name="imgsrc">
        </div>
        <div>
            <label for="released_date">Release date:</label>
            <input type="text" name="released_date">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" name="price">
        </div>
        <button type="submit" value="Add album">ADD</button>
    </form>
    <div>
        {{{body}}}
    </div>
</body>
</html>